<services>
    <service name="zwaldeck.httpKernel" class="Zwaldeck\Core\Http\HttpKernel">
        <con-arg>
            <service>zwaldeck.router</service>
        </con-arg>
    </service>
    <service name="zwaldeck.template_engine" class="Zwaldeck\Plugins\FrameworkPlugin\Templating\TemplateEngine">
    </service>


</services>